:root {
  --bg: #fff;
  --button-primary: #eee;
}

body {
  font-size: 14px;
  font-family: Merriweather, "Noto Serif SC", Georgia, "Times New Roman", serif;
  background: var(--bg);

}

.dark {
  --bg: #121212;
}
