:root {
  --bg: #fafafa;
  --button-primary: #eee;
}

body {
  font-size: 14px;
  font-family: Merriweather, "Noto Serif SC", Georgia, "Times New Roman", serif;
  background: var(--bg);

}

.dark {
  --bg: #050505;
}
