:root {
  --bg: #fff;
  --button-primary: #eee;
  --c-scrollbar: #eee;
  --c-scrollbar-hover: #bbb;
  /* copy */
  --c-code-copy-border-color: #e2e2e3;
  --c-code-copy-bg: #fff;
  --icon-copy: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAyNCAyNCc+PGcgZmlsbD0nbm9uZScgc3Ryb2tlPSdyZ2JhKDEyOCwxMjgsMTI4LDEpJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZS1saW5lam9pbj0ncm91bmQnIHN0cm9rZS13aWR0aD0nMic+PHJlY3Qgd2lkdGg9JzgnIGhlaWdodD0nNCcgeD0nOCcgeT0nMicgcng9JzEnIHJ5PScxJy8+PHBhdGggZD0nTTE2IDRoMmEyIDIgMCAwIDEgMiAydjE0YTIgMiAwIDAgMS0yIDJINmEyIDIgMCAwIDEtMi0yVjZhMiAyIDAgMCAxIDItMmgyJy8+PC9nPjwvc3ZnPg==);
  /* copied */
  --icon-copied: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='rgba(128,128,128,1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Crect width='8' height='4' x='8' y='2' rx='1' ry='1'/%3E%3Cpath d='M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2'/%3E%3Cpath d='m9 14l2 2l4-4'/%3E%3C/g%3E%3C/svg%3E");
}

body {
  font-family: Merriweather, "Noto Serif SC", Georgia, "Times New Roman", serif;
  background: var(--bg);
}

.dark {
  --bg: #050505;
  --c-scrollbar: #111;
  --c-scrollbar-hover: #222;

  /* copy */
  --c-code-copy-border-color: #2e2e32;
  --c-code-copy-bg: #202127;
}

/* scrollbar */

* {
  scrollbar-color: var(--c-scrollbar) var(--c-bg);
}
:-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar:horizontal {
  height: 6px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--bg);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-hover);
}
